<footer>
  <div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
  <div class="footer-top layer_custom">
    <nav>
      <div class="u-pc">
        <ul>
          <li><a href="{{ routes.root_url }}">ホーム</a></li>
          <li><a href="/pages/about/">私たちのこだわり</a></li>
          <li><a href="/collections/all/">商品一覧</a></li>
          <li><a href="/pages/company/">会社概要</a></li>
          <li><a href="/pages/faq/">よくある質問</a></li>
          <li><a href="/pages/contact-form/">お問い合わせ</a></li>
          <li><a href="/account">ログイン</a></li>
          <li><a href="/cart/">マイカート</a></li>
        </ul>
      </div>
      <div class="u-sp">
        <ul>
          <li><a href="{{ routes.root_url }}">ホーム</a></li>
          <li><a href="/pages/faq/">よくある質問</a></li>
          <li><a href="/pages/about/">私たちのこだわり</a></li>
          <li><a href="/pages/contact-form/">お問い合わせ</a></li>
          <li><a href="/collections/all/">商品一覧</a></li>
          <li><a href="/account/">ログイン</a></li>
          <li><a href="/pages/company/">会社概要</a></li>
          <li><a href="/cart/">マイカート</a></li>
        </ul>
      </div>
    </nav>
  </div><!-- /.footer-top -->
  <div class="footer-bottom u-pc layer_custom">
    <div class="inner">
      <div class="column01">
        <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/logo-footer.svg" alt=""></div>
        <p>沖縄で肉ならNUOVO<br>オンラインストア</p>
        <a class="footer-insta" href="#"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-insta.svg" alt=""></a>
        <nav>
          <ul>
            <li><a href="/pages/privacy/">個人情報保護方針</a></li>
            <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
          </ul>
        </nav>
      </div><!-- /.column01 -->
      <div class="column02">
        <a class="footer-tel" href="tel:098-943-1612"><span>Tel.</span>098-943-1612</a>
        <a class="btn02" href="/pages/contact-form/">お問い合わせフォーム<img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/arrow01.svg" alt=""></a>
      </div><!-- /.column02 -->
      <div class="column03">
        <p>価格帯から探す</p>
        <nav>
          <ul>
            <li><a href="/collections/0001/">1,000円以下</a></li>
            <li><a href="/collections/1000/">1,000～3,000円</a></li>
            <li><a href="/collections/3000/">3,000～5,000円</a></li>
            <li><a href="/collections/5000/">5,000～10,000円</a></li>
            <li><a href="/collections/10000/">10,000円以上</a></li>
          </ul>
        </nav>
      </div><!-- /.column03 -->
      <div class="column04">
        <p>カテゴリーから探す</p>
        <nav>
          <ul>
            <li><a href="/collections/all/">全て</a></li>
            <li><a href="/collections/hormone/">ホルモン</a></li>
            <li><a href="/collections/oumigyu/">近江牛</a></li>
            <li><a href="/collections/rareparts/">希少部位</a></li>
            <li><a href="/collections/kurogewagyu/">沖縄県産 黒毛和牛</a></li>
            <li><a href="/collections/other/">その他</a></li>
            <li><a href="/collections/set/">BBQセット</a></li>
          </ul>
        </nav>
      </div><!-- /.column04 -->
    </div><!-- /.inner -->
  </div><!-- /.footer-bottom -->
  <div class="footer-bottom_sp u-sp layer_custom">
    <div class="inner">
      <div class="price">
        <p>価格から探す</p>
        <nav>
          <ul>
            <li><a href="/collections/0001/">1,000円以下</a></li>
            <li><a href="/collections/1000/">1,000～3,000円</a></li>
            <li><a href="/collections/3000/">3,000～5,000円</a></li>
            <li><a href="/collections/5000/">5,000～10,000円</a></li>
            <li><a href="/collections/10000/">10,000円以上</a></li>
          </ul>
        </nav>
      </div><!-- /.price -->
      <div class="category">
        <p>カテゴリーから探す</p>
        <nav>
          <ul>
            <li><a href="/collections/all/">全て</a></li>
            <li><a href="/collections/hormone/">ホルモン</a></li>
            <li><a href="/collections/oumigyu/">近江牛</a></li>
            <li><a href="/collections/rareparts/">希少部位</a></li>
            <li><a href="/collections/kurogewagyu/">沖縄県産 黒毛和牛</a></li>
            <li><a href="/collections/other/">その他</a></li>
            <li><a href="/collections/set/">BBQセット</a></li>
          </ul>
        </nav>
      </div><!-- /.category -->
      <div class="info">
        <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/logo-footer.svg" alt=""></div>
        <p class="txt">沖縄で肉ならNUOVO<br>オンラインストア</p>
        <div class="sp_footer-tel"><a href="tel:098-943-1612">Tel.<span>098-943-1612</span></a></div>
        <a class="btn02" href="/pages/contact-form/">お問い合わせフォーム<img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/arrow01.svg" alt=""></a>
      </div><!-- /.info -->
    </div><!-- /.inner -->
  </div><!-- /.footer-bottom_sp -->
  <div class="footer-small layer_custom">
    <div class="inner">
      <p class="u-pc">株式会社NUOVO<br>沖縄県那覇市松島1-23-1 ヒルズ真嘉比201</p>
      <div class="u-sp footer-small_column01">
        <a class="footer-insta" href="#"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-insta.svg" alt=""></a>
        <nav>
          <ul>
            <li><a href="/pages/privacy/">個人情報保護方針</a></li>
            <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
          </ul>
        </nav>
      </div>
      <p><small>Copyright © 2023 Nuovo</small></p>
    </div>
  </div>
</footer>