<footer>
  <div class="footer-top layer_custom">
    <nav>
      <div class="u-pc">
        <ul>
          <li><a href="{{ routes.root_url }}">ホーム</a></li>
          <li><a href="about.html">私たちのこだわり</a></li>
          <li><a href="item-list.html">商品一覧</a></li>
          <li><a href="company.html">会社概要</a></li>
          <li><a href="faq.html">よくある質問</a></li>
          <li><a href="contact.html">お問い合わせ</a></li>
          <li><a href="#">ログイン</a></li>
          <li><a href="#">マイカート</a></li>
        </ul>
      </div>
      <div class="u-sp">
        <ul>
          <li><a href="{{ routes.root_url }}">ホーム</a></li>
          <li><a href="faq.html">よくある質問</a></li>
          <li><a href="about.html">私たちのこだわり</a></li>
          <li><a href="contact.html">お問い合わせ</a></li>
          <li><a href="item-list.html">商品一覧</a></li>
          <li><a href="#">ログイン</a></li>
          <li><a href="company.html">会社概要</a></li>
          <li><a href="#">マイカート</a></li>
        </ul>
      </div>
    </nav>
  </div><!-- /.footer-top -->
  <div class="footer-bottom u-pc layer_custom">
    <div class="inner">
      <div class="column01">
        <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/logo-footer.svg" alt=""></div>
        <p>沖縄で肉ならNUOVO<br>オンラインストア</p>
        <a class="footer-insta" href="#"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-insta.svg" alt=""></a>
        <nav>
          <ul>
            <li><a href="privacy.html">個人情報保護方針</a></li>
            <li><a href="terms.html">特定商取引法に基づく表記</a></li>
          </ul>
        </nav>
      </div><!-- /.column01 -->
      <div class="column02">
        <a class="footer-tel" href="tel:098-943-1612"><span>Tel.</span>098-943-1612</a>
        <a class="btn02" href="contact.html">お問い合わせフォーム<img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/arrow01.svg" alt=""></a>
      </div><!-- /.column02 -->
      <div class="column03">
        <p>価格帯から探す</p>
        <nav>
          <ul>
            <li><a href="#">1,000円以下</a></li>
            <li><a href="#">1,000～3,000円</a></li>
            <li><a href="#">3,000～5,000円</a></li>
            <li><a href="#">5,000～10,000円</a></li>
            <li><a href="#">10,000円以上</a></li>
          </ul>
        </nav>
      </div><!-- /.column03 -->
      <div class="column04">
        <p>カテゴリーから探す</p>
        <nav>
          <ul>
            <li><a href="#">全て</a></li>
            <li><a href="#">ホルモン</a></li>
            <li><a href="#">近江牛</a></li>
            <li><a href="#">加工肉</a></li>
            <li><a href="#">沖縄県産 黒毛和牛</a></li>
            <li><a href="#">希少部位</a></li>
            <li><a href="#">BBQセット</a></li>
          </ul>
        </nav>
      </div><!-- /.column04 -->
    </div><!-- /.inner -->
  </div><!-- /.footer-bottom -->
  <div class="footer-bottom_sp u-sp layer_custom">
    <div class="inner">
      <div class="price">
        <p>価格から探す</p>
        <nav>
          <ul>
            <li><a href="#">1,000円以下</a></li>
            <li><a href="#">1,000～3,000円</a></li>
            <li><a href="#">3,000～5,000円</a></li>
            <li><a href="#">5,000～10,000円</a></li>
            <li><a href="#">10,000円以上</a></li>
          </ul>
        </nav>
      </div><!-- /.price -->
      <div class="category">
        <p>カテゴリーから探す</p>
        <nav>
          <ul>
            <li><a href="#">全て</a></li>
            <li><a href="#">ホルモン</a></li>
            <li><a href="#">近江牛</a></li>
            <li><a href="#">加工肉</a></li>
            <li><a href="#">沖縄県産 黒毛和牛</a></li>
            <li><a href="#">希少部位</a></li>
            <li><a href="#">BBQセット</a></li>
          </ul>
        </nav>
      </div><!-- /.category -->
      <div class="info">
        <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/logo-footer.svg" alt=""></div>
        <p class="txt">沖縄で肉ならNUOVO<br>オンラインストア</p>
        <div class="sp_footer-tel"><a href="tel:098-943-1612">Tel.<span>098-943-1612</span></a></div>
        <a class="btn02" href="contact.html">お問い合わせフォーム<img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/arrow01.svg" alt=""></a>
      </div><!-- /.info -->
    </div><!-- /.inner -->
  </div><!-- /.footer-bottom_sp -->
  <div class="footer-small layer_custom">
    <div class="inner">
      <p class="u-pc">株式会社NUOVO<br>沖縄県那覇市松島1-23-1 ヒルズ真嘉比201</p>
      <div class="u-sp footer-small_column01">
        <a class="footer-insta" href="#"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-insta.svg" alt=""></a>
        <nav>
          <ul>
            <li><a href="privacy.html">個人情報保護方針</a></li>
            <li><a href="terms.html">特定商取引法に基づく表記</a></li>
          </ul>
        </nav>
      </div>
      <p><small>Copyright © 2023 Nuovo</small></p>
    </div>
  </div>
</footer>