<header>
  <div class="header_inner{% unless template.name == 'index' %} p-under_header{% endunless %}">
    <div class="logo">
      <a href="{{ routes.root_url }}"><div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/logo.png" alt=""></div></a>
      <p class="u-pc">沖縄で肉ならNUOVO オンラインストア</p>
      <p class="u-sp">沖縄の肉屋 オンラインストア</p>
    </div>
    <div class="header-menu">
      <div class="header_icon_login">
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-login.svg" alt="">
        </a>
      </div>
      <div class="header_icon_cart">
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-cart.svg" alt="">
        </a>
      </div>
      <div class="hambager-content">
        <button type="button" class="hambager">
          <span class="c-line"></span>
          <span class="c-line"></span>
          <span class="c-line"></span>
        </button>
      </div><!-- /.hambager-content -->
    </div><!-- /.header-menu -->
  </div><!-- /.header_inner-->
</header>

<div class="mega-menu">
  <div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
  <div class="mega-menu_inner">
    <nav>
      <ul class="nav01">
        <li class="nav-list">
          <a href="{{ routes.root_url }}">
            <p class="nav-list-ttl">TOP</p>
            <p class="sub-ttl">NUOVO</p>
          </a>
        </li>
        <li class="nav-list">
          <a href="about.html">
            <p class="nav-list-ttl">NUOVOのこだわり</p>
            <p class="sub-ttl">ABOUT US</p>
          </a>
        </li>
        <li class="nav-list">
          <a href="faq.html">
            <p class="nav-list-ttl">よくある質問</p>
            <p class="sub-ttl">FAQ</p>
          </a>
        </li>
        <li class="nav-list">
          <a href="contact.html">
            <p class="nav-list-ttl">お問い合わせ</p>
            <p class="sub-ttl">CONTACT</p>
          </a>
        </li>
      </ul>
      <ul class="nav02">
        <li class="nav-list">
          <a href="item-list.html">
            <p class="nav-list-ttl">商品一覧</p>
            <p class="sub-ttl">LINE UP</p>
          </a>
        </li>
        <ul class="nav-price">
          <p><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-menu_price.svg" alt="">価格から探す</p>
          <li class="nav-category-list">
            <a class="nav-list-ttl" href="#">1,000円以下</a>
          </li>
          <li class="nav-category-list">
            <a class="nav-list-ttl" href="#">1,000～3,000円</a>
          </li>
          <li class="nav-category-list">
            <a class="nav-list-ttl" href="#">3,000～5,000円</a>
          </li>
          <li class="nav-category-list">
            <a class="nav-list-ttl" href="#">5,000～10,000円</a>
          </li>
          <li class="nav-category-list">
            <a class="nav-list-ttl" href="#">10,000円以上</a>
          </li>
        </ul>
        <ul class="nav-category">
          <p><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-menu_category.svg" alt="">カテゴリーから探す</p>
          <div>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">全て</a>
            </li>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">ホルモン</a>
            </li>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">近江牛</a>
            </li>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">加工肉</a>
            </li>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">沖縄県産 黒毛和牛</a>
            </li>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">希少部位</a>
            </li>
            <li class="nav-category-list">
              <a class="nav-list-ttl" href="#">BBQセット</a>
            </li>
          </div>
        </ul>
      </ul>
      <ul class="nav03">
        <li><a href="company.html">会社概要</a></li>
        <li><a href="privacy.html">個人情報保護方針</a></li>
        <li><a href="terms.html">特定商取引法に基づく表記</a></li>
      </ul>
    </nav>
    <p class="copyright u-sp"><small>Copyright © 2023 Nuovo</small></p>
  </div><!-- /.mega-menu_inner -->
  <p class="copyright u-pc"><small>Copyright © 2023 Nuovo</small></p>
</div><!-- /.mega-menu -->