<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<!-- 下層 -mv -->
<div class="p-under_mv p-about_mv">
  <div class="inner">
    <h1>NUOVOの<br class="u-sp">こだわり</h1>
    <p class="sub-ttl">ABOUT US</p>
  </div>
</div><!-- /.p-under_mv -->

<section class="p-about_wrap01">
  <div class="inner">
    <div class="sp-cavity_area u-sp"></div>
    <h2>質の高い肉へのこだわり</h2>
    <p>
      私たちは、質の高い肉を提供することに深い情熱を持っています。愛情のある農家さんだけから仕入れるこだわりで、良質な肉を独自のルートで仕入れ。さらに、加工はすべて自社で手作業で行い、肉本来の風味を最大限に引き出すための技術を駆使しています。そのこだわりを感じていただける、選りすぐりの肉をご提供します。
    </p>
    <div class="about-imgarea">
      <div class="left">
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_img01.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_img02.jpg" alt=""></div>
      </div>
      <div class="right u-pc"></div>
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap01 -->

<section class="p-about_wrap02">
  <div class="inner">
    <h2><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_ttl01.png" alt=""></h2>
    <p>
      高級和牛の美味しさを、より多くの方々にお届けしたい。その思いから、私たちは独自の仕入れネットワークを駆使し、近江牛や県産黒毛和牛などの高品質な和牛を適正価格で提供しています。自社での丁寧な加工を行うことで、コストを抑えつつも品質の高さは保たれています。家庭での食卓を豊かにするために、最上級の和牛を手軽にお楽しみいただけるよう、努めています。高級和牛の特別な味わいを、ご家庭で気軽にご堪能ください。
    </p>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap02 -->

<section class="p-about_wrap03">
  <div class="inner">
    <h2><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_ttl02.png" alt=""></h2>
    <p>
      当社は、和牛の旨味を最大限に引き出すための加工技術に深いこだわりを持っています。一つ一つ丁寧に手作業で加工されており、それぞれの肉の特性を活かした最適な方法で仕上げられています。この緻密な手仕事により、和牛本来の豊かな風味と質感を保つことができます。お客様からのご注文に対して、品質を最優先に考えておりますので、お届けまでに少々お時間をいただく場合があります。しかし、この待ち時間が、最高品質の肉をお届けするための大切なプロセスです。私たちの丁寧な手仕事が生み出す、格別の味わいを、どうぞご期待ください。
    </p>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap03 -->

<section class="p-about_wrap04">
  <div class="wrap04-top">
    <div class="inner">
      <p class="sub-ttl">Owner’s Voice</p>
      <h2>
        7つの事業を運営。<br>
        だけど絶対に肉への妥協はしない。
      </h2>
      <p class="txt">
        当社は、沖縄県産のブランド牛肉・マグロの直卸から、冷凍車販売、施設管理、飲食店経営、物流事業など多岐に渡る事業展開をしています。その中でも食肉事業に携わって思うのは、質の高いお肉が食卓に並ぶことがもっと当たり前になって欲しいなと。だから、肉に対して妥協はしません。将来的には、オンライン・オフライン共に町の精肉店のような地域に愛される存在になりたいですね。
      </p>
      <p class="name">代表取締役<span>岸本 英一郎</span></p>
    </div><!-- /.inner -->
  </div>
  <div class="wrap04-bottom">
    <div class="sp-box img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img01_sp.jpg" alt=""></div>
    <div class="inner">
      <div class="ownner_img-area">
        <div class="first-box img-box obj-fit u-pc"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img01.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img02.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img03.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img04.jpg" alt=""></div>
      </div>
      <a class="btn02" href="https://nuovo.co.jp/" target="_blank">NUOVO公式サイトを見る<img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-link.svg" alt=""></a>
    </div>
  </div>
</section><!-- /.p-about_wrap04 -->