<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<!-- 下層 -mv -->
<div class="p-under_mv p-contact_mv">
  <div class="inner">
    <h1>お問い合わせ</h1>
    <p class="sub-ttl">CONTACT</p>
  </div>
</div><!-- /.p-under_mv -->

<section class="p-contact_wrap01">
  <div class="inner">
    <p class="message">
      お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
      また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/" target="_blank">「よくある質問」ページ</a>にまとめておりますので、ぜひご覧ください。
    </p>
    <div class="contact-tel">
      <p>お電話から</p>
      <a href="tel:098-943-1612"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-tel.svg" alt="">098-943-1612</a>
      <p class="business-hours">営業時間｜9:00～17:30（電話受付時間）　定休日｜土日・祝日・正月休み</p>
    </div>
    <div class="form_wrap">
      {% section 'contact-form' %}
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-contact_wrap01 -->