<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<!-- 下層 -mv -->
<div class="p-under_mv p-about_mv">
  <div class="inner">
    <h1>NUOVOの<br class="u-sp">こだわり</h1>
    <p class="sub-ttl">ABOUT US</p>
  </div>
</div><!-- /.p-under_mv -->

<section class="p-about_wrap01">
  <div class="inner">
    <div class="sp-cavity_area u-sp"></div>
    <h2>質の高い肉へのこだわり</h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
    <div class="about-imgarea">
      <div class="left">
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_img01.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_img02.jpg" alt=""></div>
      </div>
      <div class="right u-pc"></div>
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap01 -->

<section class="p-about_wrap02">
  <div class="inner">
    <h2><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_ttl01.png" alt=""></h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap02 -->

<section class="p-about_wrap03">
  <div class="inner">
    <h2><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_ttl02.png" alt=""></h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap03 -->

<section class="p-about_wrap04">
  <div class="wrap04-top">
    <div class="inner">
      <p class="sub-ttl">Owner’s Voice</p>
      <h2>
        7つの事業を運営。<br>
        だけど絶対に肉への妥協はしない。
      </h2>
      <p class="txt">
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="name">代表取締役<span>岸本 英一郎</span></p>
    </div><!-- /.inner -->
  </div>
  <div class="wrap04-bottom">
    <div class="sp-box img-box obj-fit u-sp"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img01_sp.jpg" alt=""></div>
    <div class="inner">
      <div class="ownner_img-area">
        <div class="first-box img-box obj-fit u-pc"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img01.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img02.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img03.jpg" alt=""></div>
        <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-about_owner-img04.jpg" alt=""></div>
      </div>
      <a class="btn02" href="#">NUOVO公式サイトを見る<img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/icon-link.svg" alt=""></a>
    </div>
  </div>
</section><!-- /.p-about_wrap04 -->