<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<div class="video-cover">
  <video id="screen" src="https://cdn.shopify.com/videos/c/o/v/8c31835f957b43cf9ec8316c76773a8b.mp4" autoplay muted playsinline loop></video>
</div>

<section class="p-lp_mv p-kensan">
  <div class="img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-mv_sp.png" media="(max-width: 768px)">
      <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-mv.png" alt="">
    </picture>
  </div>
</section><!-- /.p-lp_mv -->

<section class="p-lp_wrap01 p-kensan">
<div class="inner">
  <div class="img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-img01_sp.png" media="(max-width: 768px)">
      <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-img01.png" alt="">
    </picture>
  </div>
</div>
</section><!-- /.p-lp_wrap01 -->

<section class="p-lp_wrap02 p-kensan">
<div class="inner layer_custom">
  <div class="banner img-box">
    <a href="/collections/kurogewagyu/">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-img02_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-img02.png" alt="">
      </picture>
    </a>
  </div>
</div>
</section><!-- /.p-lp_wrap02 -->

<section class="p-lp_wrap03 p-kensan">
<div class="inner">
  <div class="img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-img03_sp.png" media="(max-width: 768px)">
      <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_kensan-img03.png" alt="">
    </picture>
  </div>
</div>
</section><!-- /.p-lp_wrap03 -->


{% section 'lp-kensan_lineup' %}