<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<!-- 下層 -mv -->
<div class="p-under_mv p-terms_mv">
  <div class="inner">
    <h1>特定商取引法に基づく表記</h1>
    <p class="sub-ttl">TERMS</p>
  </div>
</div><!-- /.p-under_mv -->

<section class="p-terms_wrap01">
  <div class="inner">
    <div class="terms-area">
      <table>
        <tr>
          <th><p>店舗名</p></th>
          <td>NUOVO オンラインショップ</td>
        </tr>
        <tr>
          <th><p>販売業者</p></th>
          <td>株式会社Nuovo</td>
        </tr>
        <tr>
          <th><p>販売責任者</p></th>
          <td>岸本英一郎</td>
        </tr>
        <tr>
          <th><p>所在地</p></th>
          <td>〒902-0069 沖縄県那覇市松島1-23-1　ヒルズ真嘉比201</td>
        </tr>
        <tr>
          <th><p>連絡先</p></th>
          <td>
            メールアドレス：info@nuovo.co.jp<br>
            電話番号：098-943-1612（10:00～18:00）
          </td>
        </tr>
        <tr>
          <th><p>販売価格</p></th>
          <td>
            商品ごとに表示<br>
            表示価格は税込み表示となります。
          </td>
        </tr>
        <tr>
          <th><p>お支払方法</p></th>
          <td>
            クレジットカード・代金引換・銀行振込がご利用可能です。<br>
            <br>
            【銀行振込の場合】<br>
            ご注文日を含む10日以内にご入金をお願いします。
          </td>
        </tr>
        <tr>
          <th><p>商品代金以外の<br>必要料金</p></th>
          <td>
            ・消費税（商品代金の10％）<br>
            ※軽減税率対象商品は8％となります。<br>
            <br>
            <table>
              <tr>
                <th>送料：</th>
                <td>県外　1,000円(北海道は1,500円)</td>
              </tr>
              <tr>
                <th></th>
                <td>沖縄　無料</td>
              </tr>
            </table>
            <br>
            ・クレジットカード決済：手数料無料<br>
            <br>
            ・代引き手数料　別途300円（+税）
          </td>
        </tr>
        <tr>
          <th><p>商品の販売制限<br>について</p></th>
          <td>
            商品は在庫限りとさせていただきます。ご注文いただきました商品が在庫切れの場合は、メールでご連絡差し上げます。
          </td>
        </tr>
        <tr>
          <th><p>商品の<br>お引渡し時期</p></th>
          <td>
            ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>
            ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
            ※お急ぎの方は、お問い合わせフォームよりご相談ください。
          </td>
        </tr>
        <tr>
          <th><p>発送方法</p></th>
          <td>
            ヤマト運輸にて発送いたします。<br>
            ※お弁当は当社の専用車両にてお届けいたします
          </td>
        </tr>
        <tr>
          <th><p>キャンセルについて</p></th>
          <td>
            商品の発送前でしたら対応可能な場合もございます。一度、お問合せフォームよりご相談ください。
          </td>
        </tr>
        <tr>
          <th><p>返品・交換について</p></th>
          <td>
            商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
            商品の破損など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。<br>
            <br>
            商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。手続きの手順について、ご案内させていただきます。<br>
            <br>
            返品時は、着払いにてお送りいただき、送料は当店が負担いたします。
          </td>
        </tr>
      </table>
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-terms_wrap01 -->