<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<!-- 下層 -mv -->
<div class="p-under_mv p-company_mv">
  <div class="inner">
    <h1>会社概要</h1>
    <p class="sub-ttl">COMPANY</p>
  </div>
</div><!-- /.p-under_mv -->

<section class="p-company_wrap01">
  <div class="inner">
    <table>
      <tr>
        <th>会社名</th>
        <td>株式会社NUOVO</td>
      </tr>
      {% comment %} <tr>
        <th>設立</th>
        <td>昭和00年00月00日</td>
      </tr> {% endcomment %}
      {% comment %} <tr>
        <th>資本金</th>
        <td>0,000万円</td>
      </tr> {% endcomment %}
      <tr>
        <th>代表者</th>
        <td>岸本 英一郎</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>沖縄県那覇市松島1-23-1　ヒルズ真嘉比201</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>098-943-1612</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-943-1612</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>食肉卸業、沖縄県産魚卸業、冷凍車販売事業、施設管理清掃業</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>https://nuovo.co.jp/</td>
      </tr>
    </table>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap01 -->