<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<!-- 下層 -mv -->
<div class="p-under_mv p-terms_mv">
  <div class="inner">
    <h1>特定商取引法に基づく表記</h1>
    <p class="sub-ttl">TERMS</p>
  </div>
</div><!-- /.p-under_mv -->

<section class="p-terms_wrap01">
  <div class="inner">
    <div class="terms-area">
      <table>
        <tr>
          <th><p>店舗名</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>販売業者</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>販売責任者</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>所在地</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>連絡先</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>サイトURL</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>販売価格</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>お支払方法</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>お支払時期</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>商品代金以外の<br>必要料金</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>商品の販売制限<br>について</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>商品の<br>お引渡し時期</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>発送方法</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>キャンセルについて</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>返品・交換について</p></th>
          <td></td>
        </tr>
        <tr>
          <th><p>動作環境について</p></th>
          <td></td>
        </tr>
      </table>
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-terms_wrap01 -->