<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<div class="video-cover">
  <video id="screen" src="https://cdn.shopify.com/videos/c/o/v/8c31835f957b43cf9ec8316c76773a8b.mp4" autoplay muted playsinline loop></video>
</div>

<section class="p-lp_mv p-bbq">
  <div class="img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-mv_sp.png" media="(max-width: 768px)">
      <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-mv.png" alt="">
    </picture>
  </div>
  <div class="sokuzitu">
    <div class="img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-btn01_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-btn01.png" alt="">
      </picture>
    </div>
    <p class="txt u-pc">お急ぎの方はお電話にてご相談ください</p>
    <p class="tel u-pc"><span>Tel.</span>098-943-1612</p>
  </div>
</section><!-- /.p-lp_mv -->

<section class="p-lp_wrap01 p-bbq">
  <div class="inner layer_custom">
    <div class="img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-img01_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-img01.png" alt="">
      </picture>
    </div>
  </div>
</section><!-- /.p-lp_wrap01 -->

<section class="p-lp_wrap02 p-bbq">
  <div class="inner layer_custom">
    <div class="banner img-box">
      <a href="/collections/set/">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-img02_sp.png" media="(max-width: 768px)">
          <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-img02.png" alt="">
        </picture>
      </a>
    </div>
    <div class="img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-img03_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_bbq-img03.png" alt="">
      </picture>
    </div>
  </div>
</section><!-- /.p-lp_wrap02 -->

{% section 'lp-bbq_lineup' %}