<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/bg-filter.png" alt=""></div>
<div class="video-cover">
  <video id="screen" src="https://cdn.shopify.com/videos/c/o/v/8c31835f957b43cf9ec8316c76773a8b.mp4" autoplay muted playsinline loop></video>
</div>

<section class="p-lp_mv p-oumigyu">
    <div class="img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-mv_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-mv.png" alt="">
      </picture>
    </div>
    <div class="img-box shipping-free">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-btn01_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-btn01.png" alt="">
      </picture>
      <p>※3,000円以上ご購入のお客様対象</p>
    </div>
</section><!-- /.p-lp_mv -->

<section class="p-lp_wrap01 p-oumigyu">
  <div class="inner layer_custom">
    <div class="img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-img01_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-img01.png" alt="">
      </picture>
    </div>
  </div>
</section><!-- /.p-lp_wrap01 -->

<section class="p-lp_wrap02 p-oumigyu">
  <div class="inner layer_custom">
    <div class="banner img-box">
      <a href="/collections/oumigyu/">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-img02_sp.png" media="(max-width: 768px)">
          <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-img02.png" alt="">
        </picture>
      </a>
    </div>
    <div class="shipping-free img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-btn02_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-btn02.png" alt="">
      </picture>
      <p>※3,000円以上ご購入のお客様対象</p>
    </div>
  </div>
</section><!-- /.p-lp_wrap02 -->

<section class="p-lp_wrap03 p-oumigyu">
  <div class="inner layer_custom">
    <div class="img-box">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-img03_sp.png" media="(max-width: 768px)">
        <img src="https://cdn.shopify.com/s/files/1/0840/1993/7556/files/p-lp_oumigyu-img03.png" alt="">
      </picture>
    </div>
  </div>
</section><!-- /.p-lp_wrap03 -->

{% section 'lp-oumi_lineup' %}